body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

}
.box{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 24%;
    height: 50vh;
    width: 20%;
    align-items: center;
    justify-content: space-around;;
    background-color: lightblue;
    
}
button{
    width: 66px;
    height: 66px;
    color: #ffffff;
}
#blue{
    background-color: blue;

}
#red{
    background-color: red;

}
#green{
    background-color: green;

}
#yellow{
    background-color: yellow;
}